<h3>Welcome to Ceaseless DEMO CMS!</h3>
<p>
  Here you can post anything.
</p>
<p>This CMS app was built using
  <a target="_blank"
    rel="noopener noreferrer"
    href="http://rubyonrails.org/">
    Ruby on Rails</a>, a Ruby web & MVC framework.  Thank you for trying my app!
</p>
<!--
<% if logged_in? %>
<fieldset>
<legend>
  <h4>
    Click on one of the following links below to:
  </h4>
</legend>
    <ul>
      <li><%= link_to "(C)reate your post", new_post_path %></li>
      <li><%= link_to "(R)ead your post", user_path(current_user) %></li>
      <li><%= link_to "(U)pdate your post", user_path(current_user) %></li>
      <li><%= link_to "(D)elete your post", user_path(current_user) %></li>
    </ul>
</fieldset>
<% end %>
<br/>
-->
