<h1>Welcome to Ceaseless DEMO CMS!</h1>
<p>
  Here you can post any confession anonymously or make public for anyone to pray over.
  For private posts, Prayer Team will be praying for each post.
</p>
<p>
  Lord says <i>"Confess your trespasses to one another, and pray for one another, that you may be healed."</i> -James 5:16 (NKJV)
</p>
<p>
  <i>"If we confess our sins, Jesus is faithful and just to forgive us our sins and to cleanse us from all unrighteousness."</i> -1 John 1:9 (NKJV)
</p>
