<p>
<h1>User Page</h1>
  <ul>
    <li><strong>Name: </strong><%= @user.name %></li>
    <li><strong>Email: </strong><%= @user.email %></li>
    <li><%= link_to "Change Account Info", edit_user_path(@user) %></li>
</ul>
</p>
